body {
    background: #cccccc;
    margin: 0;
    padding: 0;
    font-family: arrial;
}

#login_form {
    width: 300px;
    background: #999966 url(../img/login_bg.jpg) repeat-x 0 0;
    border: 1px solid white;
    margin: 250px auto 0;
    padding: 1em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

h1, h2, h3, h4, h5 {
    margin-top: 0;
    font-family: arial black, arial;
    text-align: center;
}

input[type=text], input[type=password] {
    display: block;
    margin: 0 0 1em 0;
    width: 280px;
    border: 5px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    padding: 1em;
}

input[type=submit], form a {
    border: none;
    margin-right: 1em;
    padding: 6px;
    text-decoration: none;
    font-size: 12px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #348075;
    color: white;
    box-shadow: 0 1px 0 white;
    -moz-box-shadow: 0 1px 0 white;
    -webkit-box-shadow: 0 1px 0 white;
}

input[type=submit]:hover, form a:hover {
    background: #287368;
    cursoer: pointer;
}

.error {
    color: #393939;
    font-size: 15px;
}

fieldset {
    width: 300px;
    margin: auto;
    margin-bottom: 2em;
    display:block;
}

h1 {
    text-shadow: 0 1 px 0 white;
}

.footer {
    background: #e3e3e3;
    bottom: 0;
    position: absolute;
    width: 960px;
    padding: .01em .01em .01em .01em;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.header_container {
    background: #e3e3e3;
    height: 64px;
    text-align: center;
    width: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

ul.siteNav {
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 40px;
    float: right;
}

ul.siteNav li {
    display: inline;
}

ul.siteNav li a {
    text-decoration: none;
}

.main_container {
    float: left;
    width: 700px;
    margin-top:20px;
    background: #9c9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.side_container {
    float: right;
    width: 240px;
    margin-top: 20px;
    background: #c9c;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.profileNav {
    list-style-type: none;
}
.profileNav li a {
    text-decoration: none;
}

.parent_container {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 640px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.messages_navigation {
    float: left;
    width: 140px;
    margin-top:20px;
    margin-left:20px;
    background: #caa;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.messages_list {
    float: right;
    width: 460px;
    margin-top:20px;
    margin-right:20px;
    background: #caa;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.message_heading {
    float: right;
    width: 460px;
    margin-top:20px;
    margin-right:20px;
    background: #caa;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.message_heading table {
    background: #999;
    padding-top:10px;
    margin-left:20px;
}

#search-form div {
	overflow:hidden; /* wrap floats */
	width: 460px;	/* haslayout wraps floats IE */
        padding-top:10px;
        margin-left:20px;
}

#search-form input[type="text"] {
	float:left;
}

#search-form submit {
	float:right;
}

.profile_data {
    float: right;
    background: #a73;
    width: 460px;
    margin-top:20px;
    margin-right:40px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.profile_photo {
    float: left; 
    background: #343;
    margin-top:20px;
    margin-left:40px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.profile_bookshelve {
    float: left;
    background: #FF0000;
    margin-top:20px; 
    margin-left:20px;
    margin-right: 10px; 
    width: 95%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.profile_comments {
    float: left;
    background: #343;
    margin-top:20px;
    margin-left:20px;
    width: 95%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.main_profile_area {
    height: auto;
}