<li class="limbb">{$delCheckBox}<a href="{$main_url}/{$indexphp}action=userinfo&amp;user={$row[0]}" name="u{$row[0]}">{$row[1]} ({$row[0]})</a> {$l_sepr} <span class="txtSm"><b>{$l_usrInfo[2]}</b>: {$rDate} {$l_sepr} <b>{$l_email}</b>: <a href="mailto:{$row[4]}">{$row[4]}</a> 
<br />
<b>{$l_stats_numPosts}</b>: {$numReplies} {$l_sepr} <b>{$l_userLastPosts}</b>: {$lReplies}<br />[<a href="{$main_url}/{$bb_admin}action=removeuser1&amp;userID={$row[0]}" target="removeuser{$row[0]}">{$l_deletePost}</a>]<br /></span>
<br />
</li>