<tr>
<td class="forumTitle" style="width:95%">
<strong><a href="{$linkToForums}" title="{$forum_title}">{$forum_title}</a></strong>
</td>
<td class="forumTitle txtC" style="width:5%;vertical-align:middle"><img src="{$main_url}/img/forum_icons/{$forum_icon}" style="width:{$fIconWidth}px;height:{$fIconHeight}px" alt="{$forum_title}" title="{$forum_title}" /></td>
</tr>
<tr>
<td colspan="2" class="fdesc fdescNum">{$l_num_topics}: <strong>{$numTopics}</strong> {$l_sepr} {$l_replies}: <strong>{$numPosts}</strong></td>
</tr>
<tr>
<td colspan="2" class="fdesc">{$forum_desc}</td>
</tr>
