<table class="tbTransparent"><tr><td>{$user_logging}</td></tr></table>

<table class="forumsmb">
<tr>

<td style="width:75%;vertical-align:top">

<table style="width:100%">
<tr>
<td class="tbTransparent txtL" style="width:50%;padding-bottom:5pt"><h1 class="headingTitle">{$l_lastDiscussions}</h1></td>
<td class="tbTransparent txtR" style="width:50%;vertical-align:bottom;white-space:nowrap;padding-bottom:5pt"><span class="txtSm">{$l_sortedBy}&nbsp;{$sortedByT}.&nbsp;<a href="{$main_url}/{$indexphp}sortBy={$sortByNew}" rel="nofollow">{$l_sortBy}&nbsp;{$sortByT}</a></span></td>
</tr>
</table>

<table class="forumCol">

<tr>
<td class="rdficon" style="width:25px"><img src="{$main_url}/img/p.gif" style="width:25px;height:1px" alt="" /></td>
<td class="captionTop">{$l_topic} | {$l_forum}</td>
<td class="captionTop" style="text-align:center">{$l_replies}</td>
<td class="captionTop" style="text-align:center">{$l_views}</td>
<td class="captionTop" style="text-align:center">{$l_author}</td>
<td class="captionTop" style="text-align:center;white-space:nowrap;">{$l_lastAuthor}</td>
</tr>

{$listTopics}

<tr>
<td><img src="{$main_url}/img/p.gif" style="width:1px;height:1px" alt="" /></td>
<td style="width:70%"><img src="{$main_url}/img/p.gif" style="width:1px;height:1px" alt="" /></td>
<td style="width:40px;"><img src="{$main_url}/img/p.gif" style="width:1px;height:1px" alt="" /></td>
<td style="width:7%;"><img src="{$main_url}/img/p.gif" style="width:1px;height:1px" alt="" /></td>
<td style="width:7%;"><img src="{$main_url}/img/p.gif" style="width:1px;height:1px" alt="" /></td>
<td style="width:15%;"><img src="{$main_url}/img/p.gif" style="width:1px;height:1px" alt="" /></td>
</tr>

</table>

</td>

<td style="width:25%;vertical-align:top;padding-left:5pt;padding-top:26pt">

<table class="forumCol">
{$list_forums}
</table>

</td>

</tr></table>


