<tr class="{$bg}">
<td class="rdficon"><img src="{$main_url}/img/forum_icons/{$forumIcon}" style="width:{$fIconWidth}px;height:{$fIconHeight}px" alt="{$fTitle[$forum]}" title="{$fTitle[$forum]}" /></td>
<td class="caption1" style="width:100%">{$topic_reverse}<strong><a href="{$linkToTopic}">{$topic_title}</a></strong>{$pageNavCell}
<span class="txtSm"><br /><a href="{$urlForum}" style="text-decoration:none">{$fTitle[$forum]}</a></span>
</td>
<td class="caption1 replies txtC">{$numReplies}</td>
<td class="caption1 views txtC">{$topic_views}</td>
<td class="caption1 author txtC">{$topicAuthor}<span class="txtSm"><br />{$whenPosted}</span></td>
<td class="caption1 latest txtC">{$lastPoster}<span class="txtSm"><br />{$lastPostDate}</span></td>
</tr>
