<table class="tbTransparent"><tr><td class="tbTransparentCell"><span class="warning">{$warning}&nbsp;</span></td></tr></table>

<table class="forumsmb">

<tr><td class="tbClCp">{$l_forums}</td>
<td class="caption5" style="width:100%">
<ul class="limbb">
<li><a href="{$main_url}/{$bb_admin}action=addforum1">{$l_addforum}</a></li>
<li><a href="{$main_url}/{$bb_admin}action=editforum1">{$l_editforum}</a></li>
</ul>
</td>
</tr>

<tr><td class="tbClCp">{$l_users}</td>
<td class="caption5">
<ul class="limbb">
<li><a href="{$main_url}/{$bb_admin}action=searchusers">{$l_searchUsers}</a></li>
<li><a href="{$main_url}/{$bb_admin}action=removeuser1">{$l_removeUser}</a></li>
<li><a href="{$main_url}/{$bb_admin}action=banUsr1">{$l_ban}</a></li>
<li><a href="{$main_url}/{$bb_admin}action=deleteban1">{$l_unsetBan}</a></li>
<li><a href="{$main_url}/{$bb_admin}action=delsendmails1">{$l_deleteSendmails}</a></li>
<li><a href="{$main_url}/{$bb_admin}action=exportemails">{$l_exportEmails}</a></li>
</ul>
</td>
</tr>

<tr><td class="tbClCp">{$l_admin}</td>
<td class="caption5">
<ul class="limbb">
<li><a href="{$main_url}/{$bb_admin}action=restoreData">{$l_restoreDataAdmin}</a></li>
</ul>
</td>
</tr>

<tr><td><img src="{$main_url}/img/p.gif" style="width:200px;height:1px" alt="" /></td>
<td><img src="{$main_url}/img/p.gif" style="width:1px;height:1px" alt="" /></td></tr>

</table>

<table class="forumsmb">
<tr><td class="caption5">miniBB {$version}</td></tr>
</table>