<form action="{$main_url}/{$bb_admin}" method="post" class="formStyle">
<table class="tbTransparentmb">
<tr>
<td class="tbTransparentCell">
<span class="warning">{$warning}&nbsp;</span>
<p><span class="txtNr">{$l_delSendMais}</span></p>
<input type="text" maxlength="50" size="30" name="delemail" value="{$delemail}" class="textForm" />
<input type="hidden" name="action" value="delsendmails2" />
<br /><br />
<input type="submit" value="{$l_delete}" class="inputButton" />
</td>
</tr>
</table>
</form>