<table class="tbTransparentmb"><tr><td>{$user_logging}</td></tr></table>

<table class="forums">

<tr>
<td class="captionTop" style="width:25px"><img src="{$main_url}/img/p.gif" style="width:25px;height:15px" alt="" /></td>
<td class="captionTop" style="width:100%">{$l_forum}</td>
<td class="captionTop" style="width:40px;text-align:center">{$l_num_topics}</td>
<td class="captionTop" style="width:40px;text-align:center">{$l_replies}</td>
</tr>

{$list_forums}

<tr>
<td style="width:25px;"><img src="{$main_url}/img/p.gif" style="width:25px;height:1px" alt="" /></td>
<td style="width:90%"><img src="{$main_url}/img/p.gif" style="width:1px;height:1px" alt="" /></td>
<td style="width:5%;"><img src="{$main_url}/img/p.gif" style="width:1px;height:1px" alt="" /></td>
<td style="width:5%;"><img src="{$main_url}/img/p.gif" style="width:1px;height:1px" alt="" /></td>
</tr>

</table>