<table class="tbTransparent" style="margin-top:12pt">
<tr>
<td class="tbTransparent txtL" style="width:50%"><h1 class="headingTitle">{$l_lastDiscussions}</h1></td>
<td class="tbTransparent txtR" style="width:50%;vertical-align:middle"><span class="txtSm" style="white-space:nowrap;">{$l_sortedBy}&nbsp;{$sortedByT}.&nbsp;<a href="{$main_url}/{$indexphp}sortBy={$sortByNew}" rel="nofollow">{$l_sortBy}&nbsp;{$sortByT}</a></span></td>
</tr>
</table>

<table class="forumsmb">

<tr>
<td class="captionTop" style="width:25px"><img src="{$main_url}/img/p.gif" style="width:25px;height:1px" alt="" /></td>
<td class="captionTop">{$l_topic}</td>
<td class="captionTop" style="text-align:center">{$l_replies}</td>
<td class="captionTop" style="text-align:center">{$l_views}</td>
<td class="captionTop" style="text-align:center">{$l_author}</td>
<td class="captionTop" style="text-align:center;white-space:nowrap;">{$l_lastAuthor}</td>
</tr>

{$listTopics}

<tr>
<td style="width:25px;"><img src="{$main_url}/img/p.gif" style="width:25px;height:1px" alt="" /></td>
<td style="width:70%"><img src="{$main_url}/img/p.gif" style="width:1px;height:1px" alt="" /></td>
<td style="width:40px;"><img src="{$main_url}/img/p.gif" style="width:1px;height:1px" alt="" /></td>
<td style="width:40px;"><img src="{$main_url}/img/p.gif" style="width:1px;height:1px" alt="" /></td>
<td style="width:15%;"><img src="{$main_url}/img/p.gif" style="width:1px;height:1px" alt="" /></td>
<td style="width:15%;"><img src="{$main_url}/img/p.gif" style="width:1px;height:1px" alt="" /></td>
</tr>

</table>
